/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #9e9c97);
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 28px;
}

nav .login {
  margin-left: 20px; /* Pushes the login button to the right */
  border: #007bff;

}

nav .login a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav ul li a:hover::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

/* Home Section */
.section {
  padding: 50px 0;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
}

.image img {
  max-width: 200px;
  height: auto;
}

.text h1 {
  font-size: 4rem;
}

.text h1 span {
  color: aquamarine;
}

.text h3 {
  color: #333;
  font-size: 3rem;
}

.text h3 span {
  transition: color 0.5s;
}

.text h3.change span {
  color: red;
}

/* About Section */
.About {
  text-align: center;
  padding: 50px;
}

.About h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.About .h2{
  color: #007bff;
}

.About .row {
  display: flex;
  justify-content: space-between;
}

.About .image img {
  width: 80%;
  margin-right: 70px;

}

.About .contents {
  width: 45%;
}

.About .contents p {
  font-size: 38px;
  line-height: 1.6;
}

/* Service Section */
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
 
}

.service {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 50px;
  width: 70%;
  background-color: #312f2f;
  color: white;
  justify-content: space-between;

}

.service:hover {
  background-color: white;
  color: black;
}

.service i {
  font-size: 48px;
  color: #3f62ad;
  transition: transform 0.3s ease-in-out;
}

.service:hover i {
  transform: rotate(360deg);
 
}

.service h3 {
  margin-top: 10px;
}

.service p {
  font-size: 20px;
  color: #f8f4f4;
}
.service:hover p
{color: #000;
}
/* Skills Section */
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.skill {
  text-align: center;
  margin-bottom: 20px;
}

.skill img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s;
}

.skill p {
  color: #666;
  text-decoration: underline;
}

.skill:hover img {
  transform: rotate(360deg);
}

/* Contact Form */
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b4a8a8;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 30%;
  padding: 20px;
  margin: 15px 0 15px;
  box-sizing: border-box;
  border: 1px solid #2b2525;
  border-radius: 5px;
  color: black;
  font-size: 28px;
}

.contact-form textarea {
  height: 50px;
}

.contact-form input[type="submit"] {
  width: 5px;
  padding: 10px 50px;
  margin-top: 15px;
  cursor: pointer;
  background-color: #000;
}

footer {
  position: absolute;
  width: 100%;
  background: linear-gradient(to right, #050505, #354066);
  color: #fff;
  padding: 10px 0 10px;
  font-size: 25px;
  line-height: 20px;
}

.roww {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 5px;
}

.logo {
  width: 80px;
  padding: 50px;
  margin-bottom: 20px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: auto;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: white;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
      left: -15px;
  }
  100% {
      left: 100%;
  }
}
